h1{
  color:red;
}
/* table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
} */
/* tr:nth-child(odd){
  background-color: grey;
} */

td,th{
  padding:12px;
}
table{
   width:100%;
}
th{
  background-color:#333333;
  color:white;
}
